<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon><img  class="header_logo" width="10" height="10" src="../../assets/icon/download 1.svg"></ion-icon> 
    </ion-buttons>
    <ion-title>
      Eagle EYE
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card class="welcome-card">
    <img src="../../assets/tight-bachi.png" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Let Get started niggas</ion-card-subtitle>
      <ion-card-title>Welcome to Tight Bachi world</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Now that is have every thing set up let's sign you up and if you are already signed up then sign in Dude.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>My Different Services</ion-label>
    </ion-list-header>
    <ion-item href="https://www.youtube.com/watch?v=LdH7aFjDzjI">
      <ion-icon slot="start" color="medium" ></ion-icon>
      <ion-label>im a mess</ion-label>
    </ion-item>
    
    <ion-item href="https://www.youtube.com/watch?v=weeI1G46q0o">
      <ion-icon slot="start" color="medium" ></ion-icon>
      <ion-label>I am the one</ion-label>
    </ion-item>

    <div class="ion-padding">
      <ion-button size="small"  (click)="login()" color="primary" type="login" >Go to login page</ion-button>
    </div>

    <div class="ion-padding">
      <ion-button size="small"  (click)="SignUp()" color="primary" type="signUp" >Go to Sign Up page</ion-button>
    </div>

    <div class="ion-padding">
      <ion-button size="small"  (click)="CustomerSignUp()" color="primary" type="signUp" >Go to Customer Sign Up page</ion-button>
    </div>
    
  </ion-list>
</ion-content>
